@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&family=Noto+Sans:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Plus Jakarta Sans", sans-serif;

  --color-primary: #705d00;
  --color-primary-container: #ffd700;
  --color-secondary: #006d38;
  --color-on-surface: #1a1c1c;
  --color-on-surface-variant: #4d4732;
  --color-outline-variant: #d0c6ab;
  --color-surface-container: #eeeeee;
  --color-surface-container-low: #f3f3f3;
  --color-surface-container-highest: #e2e2e2;
  
  --spacing-section-padding: 100px;
  --spacing-container-max: 1200px;
  --spacing-margin-desktop: 64px;
  --spacing-margin-mobile: 20px;
  --spacing-gutter: 24px;
}

@layer base {
  body {
    @apply bg-[#f9f9f9] text-on-surface font-sans;
  }
}
